* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Gertruda Victoriana";
  src: local("Gertruda Victoriana"), url(./fonts/GertrudaVictoriana.ttf);
}

@font-face {
  font-family: "Montserrat Alternates";
  src: local("Montserrat Alternates"),
    url(./fonts/MontserratAlternates-Medium.ttf);
}

.red {
  color: #f00;
}

.header {
  background-image: url("./assets/home.svg");
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 104px 28px 73px;

  /* планшет (больше или равно 769px) */
  @media (min-width: 769px) {
    background-image: url("./assets/home_laptop.svg");
    padding: 140px 88px 120px;
    overflow-x: hidden;
  }

  /* комп */
  @media (min-width: 1281px) {
    background-image: url("./assets/home_computer.svg");
    padding: 189px 182px 182px;
  }

  &__logo {
    justify-content: center;
    width: 117.273px;
    height: 30px;
    flex-shrink: 0;

    @media (min-width: 1281px) {
      width: 301px;
      height: 77px;
    }
  }

  &__new-year {
    font-family: "Gertruda Victoriana";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    margin-top: 8px;
    color: #fff;
    line-height: normal;
    max-height: 54px;
    max-width: 271px;

    @media (min-width: 769px) {
      font-size: 64px;
      margin-top: 16px;
      max-width: 361px;
      max-height: 72px;
      line-height: 72px;
    }

    @media (min-width: 1281px) {
      margin-top: 0;
      max-width: 733px;
      max-height: 147px;
      font-size: 130px;
      line-height: 147px;
    }
  }

  &__text-box {
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    flex-shrink: 0;
    margin-top: 517px;
    padding: 32px 16px 56px;

    @media (min-width: 769px) {
      margin-top: 664px;
      padding: 56px 40px 80px;
    }

    @media (min-width: 1281px) {
      margin-top: 894px;
      padding: 64px 80px 96px;
    }
  }

  &__tittle {
    font-family: "Montserrat Alternates";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    color: #000125;
    text-align: center;
    line-height: normal;

    @media (min-width: 769px) {
      font-size: 36px;
      line-height: 44px;
    }
  }

  &__text {
    font-family: "Montserrat Alternates";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #000125;
    line-height: normal;
    margin-top: 16px;

    p:not(:first-child) {
      margin-top: 27px;
    }

    @media (min-width: 769px) {
      font-size: 22px;
      font-weight: 600;
      line-height: 27px;
    }

    @media (min-width: 1281px) {
      margin-top: 40px;
      font-size: 30px;
      line-height: 37px;
    }
  }
}

.events {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;

  @media (min-width: 1281px) {
    margin-top: 80px;
  }

  &__year {
    font-family: "Montserrat Alternates";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    color: #000;
    line-height: normal;

    @media (min-width: 769px) {
      font-size: 120px;
      width: 746px;
      height: 146px;
      line-height: 146px;
    }
  }

  &__text {
    font-family: "Montserrat Alternates";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    color: #000;
    text-align: center;
    line-height: normal;
    width: 286px;
    margin-top: 16px;

    @media (min-width: 769px) {
      font-size: 40px;
      margin-top: 24px;
      width: auto;
      line-height: 49px;
    }

    @media (min-width: 1281px) {
      width: 1112px;
      height: 136px;
      font-size: 56px;
      line-height: 68px;
    }
  }

  &__logo {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 29px 0;
    justify-content: center;

    @media (min-width: 769px) {
      margin-top: 40px;
    }

    @media (min-width: 1281px) {
      align-items: flex-start;
      align-content: flex-start;
      gap: 16px;
      gap: 38px 24px;
      width: 100%;
      padding: 0 120px 0;
    }
  }

  &__logo {
    img {
      width: 27%;

      @media (min-width: 769px) {
        width: 15%;
      }

      @media (min-width: 1281px) {
        width: 18%;
      }
    }
  }
}

.report {
  margin-top: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 769px) {
    margin-top: 120px;
    overflow-x: hidden;
  }

  &__text {
    font-family: "Montserrat Alternates";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    max-width: 342px;
    color: #000;
    text-align: center;
    line-height: normal;

    @media (min-width: 769px) {
      max-width: 100%;
    }

    @media (min-width: 1281px) {
      font-size: 56px;
      line-height: 68px;
      width: 1112px;
      height: 136px;
    }
  }

  &__img {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 16px;
    justify-content: center;

    @media (min-width: 769px) {
      gap: 20px;
      padding: 0 40px 0;
    }

    @media (min-width: 1281px) {
      gap: 24px;
      padding: 0 120.5px 0;
    }
  }

  &__img {
    img {
      width: 44%;

      @media (min-width: 769px) {
        width: 31%;
      }

      @media (min-width: 1281px) {
        width: 32.3%;
      }
    }
  }
}

.method {
  overflow-x: hidden;
  padding-top: 240px;

  @media (min-width: 769px) {
    margin-top: 80px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 0px 54px 0 142px;
    overflow: hidden;
  }

  @media (min-width: 1281px) {
    padding: 90px 105px 100px 262px;
    margin-top: 233px;
  }

  &__screenshots {
    position: relative;
    top: 0;
    left: 0;

    @media (min-width: 769px) {
      width: 100%;
      margin-top: 185px;
    }

    @media (min-width: 1281px) {
      margin-top: 0px;
    }
  }

  &__phone {
    top: 0;
    margin-left: 16px;

    @media (min-width: 769px) {
      position: relative;
      width: 216px;
      height: 432px;
    }

    @media (min-width: 1281px) {
      top: 100px;
      width: 289px;
      height: 580px;
    }
  }

  &__pay {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    width: 322.75px;

    @media (min-width: 769px) {
      bottom: 85px;
      width: 434.57px;
      height: 506.89px;
      right: 55px;
    }

    @media (min-width: 1281px) {
      bottom: 15px;
      z-index: -2;
      width: 583.4px;
      height: 680.49px;
      right: 50px;
    }
  }

  &__description {
    padding: 0 16px 0;

    @media (min-width: 769px) {
      left: 0;
    }
  }

  &__logo {
    margin-top: 40px;

    @media (min-width: 769px) {
      width: 100%;
    }

    @media (min-width: 1281px) {
      width: 390.76px;
      height: 78.67px;
      margin-top: 0px;
    }
  }

  &__text {
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin-top: 24px;
    color: #000;
    line-height: 140%;

    @media (min-width: 769px) {
      max-width: 483px;
      max-height: 225px;
      top: 352px;
      font-size: 32px;
    }

    @media (min-width: 1281px) {
      margin-top: 85px;
      font-size: 40px;
      min-width: 663px;
      min-height: 280px;
    }
  }

  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 769px) {
      align-items: start;
    }
  }

  &__btn {
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 600;
    margin-top: 24px;
    width: 100%;
    height: 64px;
    flex-shrink: 0;
    border-radius: 24px;
    background: #e90051;
    border: none;
    color: #ffffff;

    @media (min-width: 769px) {
      width: 387px;
      height: 80px;
      font-style: normal;
      font-size: 32px;
      line-height: 140%;
    }

    @media (min-width: 1281px) {
      margin-top: 40px;
    }
  }
}

.hidden {
  display: none;

  @media (min-width: 769px) {
    display: block;
  }
}

.hidden-phone {
  @media (min-width: 769px) {
    display: none;
  }
}

.virtualCard {
  margin-top: 64px;
  background-color: #f0f0f9;
  height: 635px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;

  @media (min-width: 769px) {
    width: 100%;
    height: 757px;
    overflow-x: hidden;
  }

  @media (min-width: 1281px) {
    height: 993px;
  }

  &__img {
    display: flex;
    flex-direction: row;
  }

  &__form {
    position: absolute;
    right: -78.82px;
    top: 55px;
    width: 386.94px;
    height: 347.06px;
    z-index: 1;

    @media (min-width: 769px) {
      right: 7px;
      top: 50px;
      width: 622px;
      height: 558px;
    }

    @media (min-width: 1281px) {
      right: 71px;
      z-index: 1;
    }
  }

  &__card {
    position: absolute;
    top: 277.74px;
    left: 0px;
    z-index: 2;

    @media (min-width: 769px) {
      top: 426.13px;
      left: 481px;
      width: 425.56px;
      height: 290.87px;
      z-index: 1;
    }

    @media (min-width: 1281px) {
      top: 575px;
      left: 743px;
      width: 594px;
      height: 406px;
    }
  }

  &__text {
    font-family: "Montserrat Alternates";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    margin-top: 24px;
    position: absolute;
    top: 474px;
    color: #000;
    text-align: center;
    line-height: normal;
    width: 306px;
    height: 81px;

    @media (min-width: 769px) {
      top: 203px;
      left: 143px;
      font-size: 40px;
      line-height: 49px;
      width: 484px;
      height: 147px;
      z-index: 2;
    }

    @media (min-width: 1281px) {
      left: 262px;
      top: 314px;
      font-size: 56px;
      line-height: 68px;
      width: 686px;
      height: 204px;
    }
  }

  &__triangle2 {
    display: none;

    @media (min-width: 769px) {
      display: block;
      position: absolute;
      right: 0px;
      bottom: 0px;
    }

    @media (min-width: 1281px) {
      right: 131px;
    }
  }

  &__triangle3 {
    position: absolute;
    top: 380px;
    left: 308px;
    z-index: 0;

    @media (min-width: 769px) {
      top: 542px;
      left: 46px;
    }

    @media (min-width: 1281px) {
      top: 730px;
      left: 39px;
    }
  }

  &__triangle4 {
    display: none;

    @media (min-width: 769px) {
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 0;
    }
  }

  &__triangle5 {
    position: absolute;
    top: 40px;
    left: -27px;
    width: 56.56px;
    height: 57px;

    @media (min-width: 769px) {
      top: 83px;
      left: 521px;
    }

    @media (min-width: 1281px) {
      top: 108px;
      left: 768px;
    }
  }
}

.article {
  background-image: url("./assets/snow.svg");
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  padding: 64px 16px 80px;

  @media (min-width: 769px) {
    overflow-x: hidden;
  }

  @media (min-width: 1281px) {
    width: 100%;
    padding: 120px 120px 319px;
  }

  &__title {
    font-family: "Montserrat Alternates";
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    color: #000;
    text-align: center;
    line-height: normal;
    width: 306px;

    @media (min-width: 769px) {
      width: 944px;
      height: 98px;
      font-size: 40px;
      line-height: 49px;
    }

    @media (min-width: 1281px) {
      height: 136px;
      font-size: 56px;
      line-height: 68px;
    }
  }

  &__img {
    align-self: flex-start;
  }

  &__container {
    @media (min-width: 769px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 24px;
    }

    @media (min-width: 1281px) {
      margin-top: 40px;
    }
  }

  &__container {
    .article__case {
      @media (min-width: 769px) {
        width: 25%;
      }

      @media (min-width: 1281px) {
        width: 32%;
      }
    }
  }

  &__case {
    font-family: "Montserrat Alternates";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    background: #fff;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
    color: #000;
    line-height: 20px;
    letter-spacing: -0.01em;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
    padding: 16px 16px 24px 16px;

    @media (min-width: 769px) {
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
    }

    @media (min-width: 1281px) {
      margin-top: 0px;
      padding: 43px 16px 107px 16px;
      font-size: 24px;
      line-height: 29px;
    }
  }
}

.end {
  @media (min-width: 769px) {
    overflow-x: hidden;
    position: relative;
  }

  &__container {
    @media (min-width: 769px) {
      padding: 0 244px 288px;
    }

    @media (min-width: 1281px) {
      padding: 0 314px 332px;
      margin-top: 100px;
    }
  }

  &__text {
    font-family: "Montserrat Alternates";
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    color: #000;
    line-height: normal;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    border-radius: 40px;
    padding: 48px 24px 71px;
    height: 100%;

    p:not(:first-child) {
      margin-top: 27px;
    }

    @media (min-width: 769px) {
      font-size: 24px;
      line-height: 29px;
      padding: 80px 40px 80px;
    }

    @media (min-width: 1281px) {
      font-size: 40px;
      line-height: 49px;
      padding: 80px 181px 80px 80px;
    }
  }

  &__signature {
    font-family: "Montserrat Alternates";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    margin-top: 16px;
    color: #000;
    line-height: normal;

    @media (min-width: 769px) {
      margin-top: 40px;
      font-size: 56px;
      line-height: 68px;
    }

    @media (min-width: 1281px) {
      margin-top: 80px;
      max-width: 1000px;
      font-size: 80px;
      line-height: 98px;
    }
  }

  &__img {
    position: relative;
    height: 400px;
    max-width: 100%;

    @media (min-width: 769px) {
      height: 531px;
    }

    @media (min-width: 1281px) {
      height: 100%;
    }
  }

  &__img {
    img {
      max-width: 100%;
      position: absolute;
      bottom: 0px;
      right: 0px;
    }
  }

  &__forest {
    left: 0;

    @media (min-width: 769px) {
      width: 100%;
      z-index: -1;
    }

    @media (min-width: 1281px) {
      height: 1500px;
    }
  }

  &__tree {
    @media (min-width: 769px) {
      width: 80%;
    }

    @media (min-width: 1281px) {
      width: 60%;
    }
  }
}
